In [ ]:
# R Coursework part 1

Answer all of the questions below in the cells provided. 

Make sure you:

- comment your code
- run your cells to check your answers
- save your notebook with your answers before submitting it

### Question 1

Create a data frame with 5 rows and 2 columns. The first column should be a vector of names of your choice, the second should be a series of numeric values.

In [ ]:
my_dataframe <- data.frame(
  Names = c("Vicky", "Shifra", "Charlie", "David", "Tom"),
  Numbers = c(22, 23, 20, 21, 23)
)
print(my_dataframe)

### Question 2

The code in the cell below provides examples of each of the main data structures in R. Run the code in the cell below.

In [ ]:
my_vector <- seq(from = 1, to = 1000, by = 1)
my_matrix <- matrix(1:100, nrow = 10, ncol = 10)
my_dataframe <- data.frame(name = rep(c("a", "b"), each = 10), value = 21:40)
my_list <- list(my_vector, my_matrix, my_dataframe)

Show how to access:

- The 4th value of the vector
- Column 4 and row 7 of the matrix
- The 10th value of name in the data.frame
- The 5th element of the 1st element of the list

In [ ]:
my_vector <- seq(from = 1, to = 1000, by = 1)
my_matrix <- matrix(1:100, nrow = 10, ncol = 10)
my_dataframe <- data.frame(name = rep(c("a", "b"), each = 10), value = 21:40)
my_list <- list(my_vector, my_matrix, my_dataframe)

fourth_value_vector <- my_vector[4]
print(fourth_value_vector)

matrix_value <- my_matrix[7, 4]
print(matrix_value)

tenth_name_value <- my_dataframe$name[10]
print(tenth_name_value)

fifth_element_list <- my_list[[1]][5]
print(fifth_element_list)

### Question 3

Show three different ways to print the numbers 200 to 300 in R. One should be a `for` loop, one should be an `sapply` function and the third can be a method of your choosing.

In [ ]:
# First
for (i in 200:300) {
  print(i)
}

#Second
sapply(200:300, print)
#Third
i <- 200
while (i <= 300) {
  print(i)
  i <- i + 1
}

### Question 4

The following code creates a vector of animal names: (run this code)

In [ ]:
animals <- c("tiger", "lion", "badger", "fox", "rabbit", "fish", "dog", "octopus")

Show how you would replace the fish and octopus in this dataset with two other animals without creating a new vector.

In [ ]:
animals <- c("tiger", "lion", "badger", "fox", "rabbit", "fish", "dog", "octopus")
animals[6] <- "cat"
animals[8] <- "elephant"
print(animals)

### Question 5

Using the `cars` dataset, make a `baseR` (i.e. do not use `ggplot2`) scatterplot of speed vs distance Ensure the x and y labels do not include cars$ and give your plot an appropriate title.

HINT: you will have to begin by loading the cars dataset

In [ ]:
data(cars)
plot(
  cars$speed, cars$dist,
  xlab = "Speed (mph)",
  ylab = "Distance (ft)",
  main = "Scatterplot of Speed vs Distance",
  pch = 20, col = "blue"
)

### Question 6

Using the `starwars` dataset, identify the individuals with:

- the tallest height
- the lowest mass

HINT: the starwars dataset is part of the dplyr package

In [ ]:
ibrary(dplyr)
library(tibble)
data("starwars")
tallest <- starwars %>%
  filter(!is.na(height)) %>% 
  arrange(desc(height)) %>%
  slice(1)
print("Tallest individual:")
print(tallest)

lowest_mass <- starwars %>%
  filter(!is.na(mass)) %>% 
  arrange(mass) %>%
  slice(1)
print("Individual with lowest mass:")
print(lowest_mass)

In [ ]:
### Question 7

The `dplyr` dataset `storms` is part of the US National Oceanic and Atmospheric Administration database of Atlantic hurricanes. It contains multiple repeated measurements from hurricanes. For a given storm, there are measurements from every 6 hours across the life time of the storm.

Use a tidyverse approach with `dplyr` to answer the following:

- how many different storms are contained in the database?
- which year had the most storms?
- which storm, in which year had the highest pressure?

HINT:
unique() will help ensure you remove duplicated data from a vector e.g.
x <- c(1, 1, 2, 2, 3, 3, 4, 4)
unique(x)

In [ ]:
library(dplyr)
data("storms")
# 1
unique_storms <- length(unique(storms$name))
print(paste("Total number of unique storms:", unique_storms))

# 2
storm_years <- unique(storms[, c("name", "year")])
most_storms_year <- storm_years %>%
  count(year, name = "storm_count") %>%
  arrange(desc(storm_count)) %>%
  slice(1)
print("Year with the most storms:")
print(most_storms_year)

# 3
highest_pressure <- storms[which.max(storms$pressure, na.rm = TRUE), c("name", "year", "pressure")]
print("Storm with the highest pressure:")
print(highest_pressure)

### Question 8

The `ggplot2` dataset `diamonds` contains the price and information from the sale of 54,000 different diamonds. You can use ?diamonds to find out more about the dataset if you want.

Using `ggplot2`:

- plot the relationship between the carat (i.e. the weight of the diamond) and the price.
- plot a histogram of prices of all the diamonds
- plot a boxplot of the difference in price between the different cuts

In [ ]:
library(ggplot2)
# 1
ggplot(diamonds, aes(x = carat, y = price)) +
  geom_point(alpha = 0.5, color = "blue") +
  labs(title = "Relationship between Carat and Price",
       x = "Carat (Weight)",
       y = "Price (USD)") +
  theme_minimal()
# 2
ggplot(diamonds, aes(x = price)) +
  geom_histogram(binwidth = 500, fill = "Yellow", color = "Red") +
  labs(title = "Histogram of Diamond Prices",
       x = "Price (USD)",
       y = "Frequency") +
  theme_minimal()
# 3
ggplot(diamonds, aes(x = cut, y = price)) +
  geom_boxplot(fill = "orange", color = "Green") +
  labs(title = "Boxplot of Price by Cut",
       x = "Cut",
       y = "Price (USD)") +
  theme_minimal()

### Question 9

Identify the maximum and minimum price that the diamonds in the diamonds data set sold for. Add a new column to the diamonds data set that contains the string “Low price” if the value in the price column is less than 5000 dollars and “High price” if it is above 5000 dollars.

In [ ]:
max_price <- max(diamonds$price)
min_price <- min(diamonds$price)
print(paste("Maximum Price:", max_price))
print(paste("Minimum Price:", min_price))
diamonds <- diamonds %>%
  mutate(price_category = ifelse(price < 5000, "Low price", "High price"))
head(diamonds)

### Question 10

Sticking with the `diamonds` dataset for this question. A carat is a special unit of weight for gemstones where a single carat is 200 mg or 0.2 g. Write a function to convert the `diamonds$carat` vector into grams or milligrams. How heavy is the heaviest diamond?

In [ ]:
convert_carat <- function(carat, to = "grams") {
  if (to == "grams") {
    return(carat * 0.2)
  } else if (to == "milligrams") {
    return(carat * 200)
  } else {
    stop("Invalid unit. Choose 'grams' or 'milligrams'.")
  }
}

heaviest_carat <- max(diamonds$carat)
heaviest_in_grams <- convert_carat(heaviest_carat, to = "grams")
heaviest_in_milligrams <- convert_carat(heaviest_carat, to = "milligrams")
print(paste("Heaviest diamond weight in grams:", heaviest_in_grams))
print(paste("Heaviest diamond weight in milligrams:", heaviest_in_milligrams))